<h2>Courses</h2>
<div>
    <label for="filter">Filtrera kurser:</label>
    <input type="text" id="filter" [(ngModel)]="filteredValue" (input)="applyFilter()">
</div>

<!-- Message if no courses are available -->
<p *ngIf="filteredCourses.length === 0">Inga kurser att visa</p>

<!-- Course Table -->
<table id="course-table" *ngIf="filteredCourses.length > 0" matSort (matSortChange)="sortCourses($event)">
    <thead>
        <tr>
            <th mat-sort-header="code">Code</th>
            <th mat-sort-header="name">Name</th>
            <th mat-sort-header="progression">Progression</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td>{{ course.code }}</td>
            <td>{{ course.coursename }}</td>
            <td>{{ course.progression }}</td>
        </tr>
    </tbody>
</table>